*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 768px) {
    ._container{
        padding: 0 0;
    }
    .menu__item:not(:last-child) {
        display: none;
    }
    .header__logo {
        padding: 23px 0 23px 15px;
    }
    .menu__item:last-child {
        text-decoration: none;
        margin: 0;
        margin-right: 15px;
    }
    .menu__list {
        margin-left: 80px;
    }
    .menu__link1 {
        color: #FFFFFF;
    }
    .menu__button {
        display: none;
    }
    .block1__title {
        padding: 85px 0 0 15px;
        font-size: 23px;
        line-height: 132.83%;
    }
    .main__block1 {
        max-height: 476px;
        background-size: cover;
        background-position: center;
    }
    .block1__text {
        font-size: 14px;
        line-height: 135.84%;
        padding: 18px 0 0 15px;
        max-width: 300px;
    }
    .block1__button {
        padding: 50px 0 138px 18px;
    }
    .block1__button:last-of-type .block1__button2 {
        margin: 26px 0 0;
        padding: 19px 130px;
        white-space: nowrap;
    }
    .block1__button1 {
        padding: 19px 108px;
    }
    .block2__part2, .subtitle-part3, span {
        display: none;
    }
    .block2__title {
        padding: 36px 0 0;
        font-size: 22px;
        line-height: 30.49px;
        text-align: center;
    }
    .block2__title-text {
        font-size: 11px;
        line-height: 17.43px;
        padding: 22px 15px 0;
        text-align: center;
    }
    .block2__small-img {
        display: block;
        background-image: url(../img/block2small.png);
        background-size: 92% 92%;
        background-repeat: no-repeat;
        background-position: center;
        min-height: 241px;
        margin-top: 70px;
    }
    .block2__subtitle-parts {
        padding: 36px 0 0 15px;
    }
    .block2__subtitle-part2 {
        padding-left: 64px;
    }
    .block2__subtitle {
        font-size: 14px;
        line-height: 19.4px;
    }
    .block2__bottom {
        padding-top: 58px;
    }
    .block2__bottom-text {
        font-size: 22px;
    }
    .block3__part {
        background-size: cover;
    }
    .block3__img1 {
        padding: 85px 152px;
    }
    .block3__img1 img{
        max-width: 65px;
        max-height: 65px;
    }
    .block3__up {
        background: #131313;
        display: flex;
        flex-direction: column;
    }
    .block3__line {
        padding-top: 0;
    }
    .block3__text {
        padding-top: 21px;
        max-width: 341px;
        max-height: 107px;
        line-height: 169.8%;
        text-align: center;
        font-size: 11px;
        color: #FFFFFF;
    }
    .block3__input-btn {
        padding-top: 82px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .block3__input1, .block3__input2 {
        border-bottom: 1px solid #FFFFFF;
        min-width: 100%;
    }
    .block3__label input::-moz-placeholder {
        color: white;
    }
    .block3__label input::-webkit-input-placeholder { 
        color: white; 
    }
    .block3__label input:-ms-input-placeholder { 
        color: white; 
    }
    .block3__input2 {
        margin: 63px 0 0;
    }
    .block3__legend {
        color: rgba(255, 255, 255, 0.5);
    }
    .block3__label input{
        color: #FFFFFF;
    }
    .break {
        display: none;
    }
    .block3__checkbox {
        display: block;
        padding: 0 0 88px 0;
        margin-top: -25px;
    }
    .block3__checkbox-text {
        color: #FFFFFF;
    }
    .block3__button {
        position: relative;
        top: 115px;
        padding: 16px 125px;
        margin-left: 0;
    }
    .block3__center {
        padding-top: 85px;
        font-size: 22px;
    }
    .block3__menu-list {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .block3__list1:nth-child(2) {
        margin: 59px 0;
    }
    .main__block4 {
        display: none;
    }
    .main__block5 {
        background-image: none;
        margin-top: 55px;
    }
    .block5__subtitle, .block5__line, .block5__list-item, .block5__img1, .block5__img2, .block5__part3 {
        display: none;
    }
    .block5__title {
        font-size: 22px;
        line-height: 138.6%;
        text-align: center;
        max-width: 290px;
    }
    .block5__parts {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .block5__part1 {
        padding-top: 0;
    }
    .block5__part2 {
        background-image: url(../img/smallvers.png);
        margin-top: 34px;
        padding: 121px 170px;
        position: relative;
        z-index: 10;
    }
    .main__block6 {
        display: none;
    }
    .main__block7 {
        margin-top: 100px;
        background-image: none;
        max-height: 100%;
    }
    .main__block7::before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: "";
        background-color: rgba(0, 0, 0, 1);
    }
    .block7__body {
        min-height: 770px;
        min-width: 883px;
        background: black;
    }
    .block7__blockUp-title {
        padding-top: 180px;
        padding-left: 85px;
        text-align: start;
        margin: 0 auto;
    }
    .block7__input-block1 {
        padding-top: 55px;
        padding-left: 35px;
        display: flex;
        flex-direction: column;
    }
    .block7__input:not(:first-child) {
        padding-left: 0;
        padding-top: 63px;
    }
    .block7__input-block2 {
        padding-top: 63px;
        padding-left: 35px;
        display: flex;
    }
    .block7__line-big, .block7__line {
        width: 340px;
    }
    .block7__checkbox {
        padding-top: 22px;
        padding-left: 35px;
        display: flex;
        justify-content: flex-start;
    }
    .block7__button-down {
        padding: 67px 0 0 35px;
    }
    .block7__button {
        padding: 19px 144px;
    }
    .block7__map-img img, .footer{
        display: none;
    }
    .min-map {
        display: block;
        position: relative;
        bottom: 230px;
        left: 270px;
        background-image: url(../img/minmap.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        min-height: 242px;
        max-width: 340px;
    }
    .block7__down-title {
        position: relative;
        bottom: 180px;
        left: 285px;
        font-size: 18px;
        line-height: 138.6%;
        text-align: center;
        max-width: 309px;
    }
    .block7__down-img {
        position: relative;
        bottom: 145px;
        left: 410px;
    }
}
@media screen and (min-width: 1085px){
    .break {
        flex-basis: 100%;
    }
}
/*-------------------------------------------------------------------------------------*/
@media screen and (min-width: 769px) and (max-width: 1299px) {
    .menu__link {
        display: none;
    }
    .menu__list {
        display: flex;
        margin-left: 45px;
    }
    .menu__item {
        margin-right: 20px;
    }
    .block1__button1, .block1__button2 {
        padding: 20px 82px;
    }
    .block1__button2 {
        margin-left: 75px;
    }
    .block2__parts {
        display: flex;
        flex-direction: column;
    }
    .block2__part2 {
        display: flex;
        justify-content: center;
    }
    .block2__title {
        padding: 100px 0 0 34px;
    }
    .block3__input-btn {
        display: flex;
        justify-content: center;
    }
    .block3__input1, .block3__input2 {
        border-bottom: 1px solid rgba(54, 54, 54, 0.3);
        min-width: 216px;
    }
    .block3__menu-list {
        display: flex;
        justify-content: center;
    }
    .block3__list1 {
        margin-bottom: 30px;
    }
    .block4__parts {
        display: flex;
        flex-direction: column;
    }
    .main__block4 {
        margin-left: 0px;
    }
    .block4__part2 {
        padding-left: 0px;
    }
    .block4__checkbox {
        padding-top: 16px;
        display: flex;
        justify-content: center;
    }
    .block3__checkbox-text {
        letter-spacing: 1px;
    }
    .block4__button-call {
        padding: 25px 0 0;
        display: flex;
        justify-content: center;
    }
    .block6__menu-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .block6__list {
        margin-bottom: 30px;
    }
    .block6__list-down {
        display: none;
    }
    .main__block7 {
        margin-top: 250px;
    }
}